@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    Giriş yapan kişi eğer admin ise InsertProduct butonuna tıklayıp bu sayfaya ulaşabilir.
*@



<form method="post" asp-controller="Product" asp-action="InsertProduct">

      <div class="form-row mb-3">
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Category Id">
        </div>
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Name">
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Display Name">
        </div>
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Description">
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Price">
        </div>
        <div class="col mb-3">
          <input type="text" class="form-control" placeholder="Stock">
        </div>
      </div>

      <div class="form-row mb-3">
        <div class="col mb-3">
          <input type="text" class="form-control w-50" placeholder="IUser">
        </div>
      </div>

    <button type="submit" class="btn btn-primary btn-dark">Insert Product</button>
</form>


@*<div class="mb-3">
        <label for="CategoryId" class="form-label">Category Id</label>
        <input name="categoryId" type="text" class="form-control" id="categoryId" aria-describedby="authorizedIdHelp">
    </div>

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="name" name="ticketCode" class="form-control" id="name">
    </div>

    <div class="mb-3">
        <label for="DisplayName" class="form-label">Display Name</label>
        <input type="displayName" name="displayname" class="form-control" id="displayname">
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="description" name="description" class="form-control" id="description">
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <input type="price" name="price" class="form-control" id="price">
    </div>

    <div class="mb-3">
        <label for="Stock" class="form-label">Stock</label>
        <input type="stock" name="stock" class="form-control" id="stock">
    </div>

    <div class="mb-3">
        <label for="Iuser" class="form-label"> IUser</label>
        <input type="iuser" name="iuser" class="form-control" id="iuser">
    </div>*@